*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.carousel-item{
    filter: contrast(120%);
    background-size: cover;
}
.nav-item{
    font-size: 20px;
    font-weight: 300;
    font-family: sans-serif;
    letter-spacing: 0.54px;
    color: #E2E2E2;
    
}
.nav-item:hover{
    background-color: white; 
    border-radius: 5px;
    color: #030303;
    transition: .95s;
    

}
.btn {
    color: black;
    font-size: 20px;
    font-family: sans-serif;

}
.btn:hover{
    background-color: orange;
    transition: .90s;
}
.navbar-brand{
    font-size: 25x;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(80, 4, 143);
   filter: drop-shadow(120%);
}
#frame-cont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.frame-child{
    height: 650px;
    width: 700px;
    filter: contrast(140%);
    /* border: 1px solid black; */
    background: url('IMAGE/fram1.jpg');
   
}
.frame-child1{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}
.card-header{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;

}

.img-fluid{
    height: 200px;
    width: 500px;
    filter:contrast(100%)
}
.frame-text h1{
   
    height: 300px;
    width: 20       0px;
    display: flex;
    float: right;
    bottom: 30%;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, sans-serif;
    letter-spacing: 0.74px;
}
.frame-text p{
    font-size: 10px;

   
}
.card-img-top{
    filter: contrast(120%);
}
.card-title{
    font-size: 30px;
}
#card .card-body{
    background: linear-gradient(#C9D6FF,#E2E2E2);
}
#card2 .card-title{
    font-size: 3rem;
    font-family: sans-serif;
}
#card2 .card-title1{
    font-size: 30px;
    font-family: sans-serif;
}
#card2 .text-body-primary{
    font-size: 23px;
    cursor: pointer;
  
    height: 40px;
    width: 100px;
}
#card2 .text-body-primary:hover{
  
    color: rgb(255, 6, 6);
    transition: .98s;
}
#main-container {
display: flex;
justify-content: center;
align-items: center;
background-color: #030303;
flex-wrap: wrap;
}
.main-box1{
height: 350px;
width: 300px;

}
#main-container ul li{
font-size: 20px;
color: #eee;
font-family: sans-serif;
text-decoration: none;
font-weight: 400;
text-decoration: none;
list-style: none;
row-gap: 10px;
}
#main-container ul li:hover{
color: green;
cursor: pointer;
text-decoration: underline;
}
#main-container  .main-box1 h1{
color: #fff;
margin-left: 10px;
font-size: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 500px;
letter-spacing: 0.58;

}
#main-container .main-box1 span{ 
margin-left: 10px;
}
#main-container .main-box1 h2{
color: #fff;
display: flex;
margin-left: 10px;
font-family:sans-serif;
letter-spacing: 0.99px;
}
#main-container .main-box1 p{
color: #fff;
font-size: 17px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 20px;
letter-spacing: 0.25;
cursor: pointer;
} 

.google-play button{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 120px;
letter-spacing: 0.98;
height: 40px;
font-weight: 400px;
justify-content: space-around;
margin-left: 20px;
cursor: pointer;


}

.google-play button ion-icon{
font-size: 20px;
margin-right: 17px;

}
.main-box1  .google-pay p{
color: #fff;
display: flex;
font-size: 17PX;
letter-spacing: 0.99;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
justify-content: center;
align-items: center;

}
.visa-card-container{
display: flex;
align-items: center;
column-gap: 5px;
}
.visa-card{
font-size: 20px;
height: 20px;
width: 90px;
background-size: auto;
cursor: pointer;

}
.maseter{
height: 60px;
width: 70px;
cursor: pointer;

}
.debit-card{
height: 40px;
width: 50px;
cursor: pointer;
}


.social{
color: #fff;
display: flex;
column-gap: 10px;
font-size: 25px;
justify-content: center;
}
.main-box1 h2{
display: flex;
justify-content: space-evenly;

}
.checkbtn{
font-size: 40px;
}
.social ion-icon{
font-size: 30px;
color: rgb(209, 138, 7);
font-weight: 300;
}




.topnav {
overflow: hidden;
background-color: #030a44;
}


.topnav a {
float:left;

display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
font-family:sans-serif;
cursor: pointer;
font-weight: 300;
}

.topnav a:hover {
background-color: #ddd;
color: black;
transition: all .87s;
}

.topnav a.active {
background-color: #e60c9d;
color: white;
transition: .89s;

}

.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
float: right;
display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
}
}
.search input{
height: 40px;
padding: 10px;
float: right;
font-size: 15px;
font-family: sans-serif;
font-weight: 500;
margin-right: 20px;



}
::placeholder{
color: #030303;

}
.search button{
float: right;
height: 40px;
margin-right: 20px;

}
.search button ion-icon {
font-size: 35px;
cursor:progress;

}
.dark-b{
height: 50px;
width: 40px;
cursor: pointer;
}



.dark-mode{
    background-color: black;
    color: white;
}
@media screen and (max-width: 773px) {
.search button{
display: none;
}
input{
display: none;
float: none;
text-align: left;
}
}