*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.carousel-item{
            filter: contrast(120%);
            background-size: cover;
        }
        .nav-item{
            font-size: 20px;
            font-weight: 300;
            font-family: sans-serif;
            letter-spacing: 0.54px;
            color: #eee;
            
        }
        .nav-item:hover{
            background-color: white; 
            border-radius: 5px;
            color:#030303;
            transition: .95s;
            

        }
        .btn {
            color: black;
            font-size: 20px;
            font-family: sans-serif;

        }
        .btn:hover{
            background-color: orange;
            transition: .90s;
        }
        .navbar-brand{
            font-size: 25x;
            font-family: sans-serif;
            font-weight: 400;
            color: rgb(80, 4, 143);
           filter: drop-shadow(120%);
        }

        .dark-b{
        height: 50px;
        width: 40px;
        cursor: pointer;
        }
        .dark-mode{
            background-color: black;
            color: white;
        }
#location-container{
    display: flex;
    column-gap: 20px;
    justify-content: space-evenly ;
    flex-wrap: wrap;
    padding: 40px;

}
.box-location1{
    height: 500px;
    width: 600px;
    /* border: 2px solid black; */

}   
.box-location1 h4{
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 20px;
} 
.box-location1 h1{
    font-size: 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.89;
    text-decoration: none;
}
.box-location1 p{
    color: black;
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
iframe{
    height:500px ;
    width: 596px;
    /* filter: invert(200%); */

}
ion-icon{
    font-size: 20px;
    color: gray;

}
.icon-text span{
    font-size: 20px;
    color: grey ;
    justify-content: space-evenly;
    margin-left:20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.58px;
    cursor: pointer;
}
.icon-text span:hover{
    color: black;
    font-weight: 600px;
    
}



#last-search{
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 100%;
filter: contrast(100%);
padding: 30px;



}
.search-box{
height: 25vh;
width: 100%;
background-color:#000033;

}
.search-box h1{
color: #fff;
font-size: 30px;
font-family:  sans-serif;
/* margin-left: 40px; */
display: flex;
justify-content: flex-start;

padding: 10px;

}
.search-btn{
display: flex;
justify-content:center;
align-items: center;



}
    .search-box span{
    color: #eee;
    margin-left: 40px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300px;
    }
    .search-btn input{
    outline: none;
    font-size: 20px;
    font-weight: 300px;
    height: 30px;
    border-radius: 3px;
    }
    .search-btn button{
    height: 30px;
    width: 70px;
    font-weight: 700px;
    cursor: pointer;
    background-color: #f5c824;
    color: #030303;
    }
    .search-btn button:hover{
    font-weight: 500px;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;

    }
    #main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030303;
    flex-wrap: wrap;
    }
    .main-box1{
    height: 350px;
    width: 300px;

    }

    #main-container  .main-box1 h1{
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500px;
    letter-spacing: 0.58;

    }
    #main-container ul li{
    font-size: 20px;
    color: #eee;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    row-gap: 10px;
}
#main-container ul li:hover{
    color: green;
    cursor: pointer;
    text-decoration: underline;
}

    #main-container .main-box1 span{ 
    margin-left: 10px;
    }
    #main-container .main-box1 h2{
    color: #fff;
    display: flex;
    margin-left: 10px;
    font-family:sans-serif;
    letter-spacing: 0.99px;
    }
    #main-container .main-box1 p{
    color: #fff;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    letter-spacing: 0.25;
    cursor: pointer;
    } 

    .google-play button{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 120px;
    letter-spacing: 0.98;
    height: 40px;
    font-weight: 400px;
    justify-content: space-around;
    margin-left: 20px;
    cursor: pointer;
            

    }

    .google-play button ion-icon{
    font-size: 20px;
    margin-right: 17px;

    }
    .main-box1  .google-pay p{
    color: #fff;
    display: flex;
    font-size: 17PX;
    letter-spacing: 0.99;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;

    }
    .visa-card-container{
    display: flex;
    align-items: center;
    column-gap: 5px;
    }
    .visa-card{
    font-size: 20px;
    height: 20px;
    width: 90px;
    background-size: auto;
    cursor: pointer;

    }
    .maseter{
    height: 60px;
    width: 70px;
    cursor: pointer;

    }
    .debit-card{
    height: 40px;
    width: 50px;
    cursor: pointer;
    }


    .social{
    color: #fff;
    display: flex;
    column-gap: 10px;
    font-size: 25px;
    justify-content: center;
    }
    .social ion-icon{
        color: rgb(250, 167, 13);
        font-size: 30px;
        font-weight: 400;
    }
    .social ion-icon:hover{
        color: #fff;
    }

    .main-box1 h2{
    display: flex;
    justify-content: space-evenly;

    } 
     .man1{
        height: 90px;
        width: 80px;

        position: absolute;
        border-radius: 50%;
        margin-left: 30px;

    } 
     #text-border .card{
        border: none;
     }


    #product {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .product-card{
        height: 360px;
        width: 400px;

        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        

    }
    .product-img{
        display: flex;
        justify-content: center;
        filter: contrast(150%);
    }
    .bus{
        height: 200px;
        width: 200px;

    }
    #product h1{
        text-align: center;
        
    }
    #product h5{
        text-align: center;
    }
    #product-2{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        background: linear-gradient(#0575E6,#021B79);
    }
    .product-card-2{
        height: 400px;
        width: 600px;
       

    }
    #product-2 .card-txt{
        font-size: 20px;
        color: #eee;

    }
    #product-2 .btn1{
        height: 50px;
        width: 150px;
    
        background-color: #7789c5;
        gap: 20px;

    }
    #product-2 .btn1:hover{
        background-color: orange;
        color: black;
        transition: .98s all;
    }
    .card text-center{
        border: none;
    }
    .card-header{
        border: none;
    }
    body{
        scroll-behavior: smooth;
        scroll-snap-type: mandatory;
    }
    